.bubble {
  background-size: cover;
  aspect-ratio: 1096 / 499;
  margin-top: 1rem;
  width: fit-content;
}

.right {
  background-image: url("../../../public/speechbubble-right.png");
}

.left {
  background-image: url("../../../public/speechbubble-left.png");
}

.text_wrapper {
  margin-top: 3%;
  height: 61%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.text {
  margin-left: 2rem;
  margin-right: 2rem;
  color: black;
}
